th, td {
    padding: 15px;
}

body {
    background-image: url(../image/background.jpg);
    overflow: hidden;
}

#viewport {
    position: fixed;
    top: 0px;
    left: 20vw;
    right: 20vw;
    height: 60vw;
    width: 60vw;
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/579a2dfb-2d29-4efb-a01c-50df372ebb72/dhkzz5k-4491b0dd-8d3b-4b96-b020-a2bac0234162.png/v1/fit/w_800,h_450,q_70,strp/battlebgbeach_by_aveontrainer_ddf9wly_375w_2x__1__by_wqaterbeat_dhkzz5k-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDUwIiwicGF0aCI6IlwvZlwvNTc5YTJkZmItMmQyOS00ZWZiLWEwMWMtNTBkZjM3MmViYjcyXC9kaGt6ejVrLTQ0OTFiMGRkLThkM2ItNGI5Ni1iMDIwLWEyYmFjMDIzNDE2Mi5wbmciLCJ3aWR0aCI6Ijw9ODAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.DNg4HuvoYw3l2RoAg0o8bn2qyCC8oZgf0kLWXDUhYlk) no-repeat;
}

#pk1 {
    position: absolute;
    left: 130px;
    top: 350px;
}

#hp1 {
    position: absolute;
    top: 320px;
    left: 130px;
}

#pk2 {
    position: absolute;
    left: 450px;
    top: 170px;
}

#hp2 {
    position: absolute;
    top: 130px;
    left: 450px;
}

.btn {
    display: block;
    width: 100%;
    border-radius: 0.7em;
    box-shadow: 0 3px 0 black;
    color: rgba(10, 10, 8, 0.911);
    font-size: 1em;
    font-weight: 800;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 148px;
    height: 50px;
    margin-left: -(148px / 2);
    margin-top: -(70px / 2);
}

p {
    font-family: consolas;
}

#m0 {
    position: absolute;
    left: 415px;
    top: 320px;
}

#m1 {
    position: absolute;
    left: 565px;
    top: 320px;
}

#m2 {
    position: absolute;
    left: 415px;
    top: 375px;
}

#m3 {
    position: absolute;
    left: 565px;
    top: 375px;
}